frontend/node_modules
target/
server/demo
server/chunker/__pycache__
server/app/media
server/app/db.sqlite3
server/app/api/migrations
server/app/api/__pycache__
server/app/api/management/__pycache__
server/app/videoapp/__pycache__
